# Data Preparation Exercises

## Imports

In [1]:
# unicode, regex, json for text digestion
import unicodedata
import re
import json

# nltk: natural language toolkit -> tokenization, stopwords
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

# pandas dataframe manipulation, acquire script, time formatting
import pandas as pd
import acquire
from time import strftime

# shh, down in front
import warnings
warnings.filterwarnings('ignore')

## Exercises

The end result of this exercise should be a file named `prepare.py` that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

### 1. Define a function named `basic_clean`. It should take in a string and apply some basic text cleaning to it:

* Lowercase everything
* Normalize unicode characters
* Replace anything that is not a letter, number, whitespace or a single quote.

In [2]:
# we will define a basic_clean function for a single document (one string)
def basic_clean(string):
    '''
    This function takes in a string and
    returns the string normalized.
    '''
    # we will normalize our data into standard NFKD unicode, feed it into an ascii encoding
    # decode it back into UTF-8
    string = unicodedata.normalize('NFKD', string)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    # utilize our regex substitution to remove our undesirable characters, then lowercase
    string = re.sub(r"[^\w0-9'\s]", '', string).lower()
    return string

### 2. Define a function named `tokenize`. It should take in a string and tokenize all the words in the string.

In [3]:
def tokenize(string):
    '''
    This function takes in a string and
    returns a tokenized string.
    '''
    # make our tokenizer, taken from nltk's ToktokTokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()
    # apply our tokenizer's tokenization to the string being input, ensure it returns a string
    string = tokenizer.tokenize(string, return_str = True)
    
    return string

### 3. Define a function named `stem`. It should accept some text and return the text after applying stemming to all the words.

In [4]:
def stem(string):
    '''
    This function takes in a string and
    returns a string with words stemmed.
    '''
    # create our stemming object
    ps = nltk.porter.PorterStemmer()
    # use a list comprehension => stem each word for each word inside of the entire document,
    # split by the default, which are single spaces
    stems = [ps.stem(word) for word in string.split()]
    # glue it back together with spaces, as it was before
    string = ' '.join(stems)
    
    return string

### 4. Define a function named `lemmatize`. It should accept some text and return the text after applying lemmatization to each word.

In [5]:
def lemmatize(string):
    '''
    This function takes in string for and
    returns a string with words lemmatized.
    '''
    # create our lemmatizer object
    wnl = nltk.stem.WordNetLemmatizer()
    # use a list comprehension to lemmatize each word
    # string.split() => output a list of every token inside of the document
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    # glue the lemmas back together by the strings we split on
    string = ' '.join(lemmas)
    #return the altered document
    return string

### 5. Define a function named `remove_stopwords`. It should accept some text and return the text after removing all the stopwords. 

### This function should define two optional parameters, `extra_words` and `exclude_words`. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [6]:
list1 = [1, 2, 3, 4]
list2 = [2, 1, 3, 4]

print(set(list1)==set(list2))

True

In [7]:
list1 == list2

False

In [8]:
mylist = ['a', 'b', 'c', 'c', 'd']

myset = set(mylist)

print(mylist, myset)

['a', 'b', 'c', 'c', 'd'] {'c', 'b', 'a', 'd'}

In [9]:
def remove_stopwords(string, extra_words = [], exclude_words = []):
    '''
    This function takes in a string, optional extra_words and exclude_words parameters
    with default empty lists and returns a string.
    '''
    # assign our stopwords from nltk into stopword_list
    stopword_list = stopwords.words('english')
    # utilizing set casting, i will remove any excluded stopwords
    stopword_list = set(stopword_list) - set(exclude_words)
    # add in any extra words to my stopwords set using a union
    stopword_list = stopword_list.union(set(extra_words))
    # split our document by spaces
    words = string.split()
    # every word in our document, as long as that word is not in our stopwords
    filtered_words = [word for word in words if word not in stopword_list]
    # glue it back together with spaces, as it was so it shall be
    string_without_stopwords = ' '.join(filtered_words)
    # return the document back
    return string_without_stopwords

### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe `news_df`.

In [10]:
news_df = acquire.get_news_articles_data()
news_df

,title,content,category
0,"Moscow-Goa flight gets bomb threat, makes emer...",A Goa-bound flight from Russia's Moscow made a...,national
1,"I was overwhelmed, had tears in my eyes: Supri...","Actress Supriya Shukla, speaking about her dau...",national
2,Samantha Ruth Prabhu breaks down during traile...,Actor Samantha Ruth Prabhu broke down on Monda...,national
3,Australia's oldest living Test cricketer Norma...,Australia's oldest living Test cricketer Norma...,national
4,Snake repellents used at Assam stadium ahead o...,Organisers have used snake repellents at the B...,national
...,...,...,...
295,"Internal migration, youth apathy reasons for l...",An inability to vote due to internal migration...,automobile
296,Telangana govt employee found charred to death...,A Telangana state government employee was foun...,automobile
297,Pak Army chief meets Saudi Crown Prince amid e...,Pakistan Army chief Gen Asim Munir on Monday m...,automobile
298,Russian missile kills 2 women at market in Ukr...,A Russian missile hit a market in the village ...,automobile
299,Iran sentences 3 more to death in connection w...,An Iranian court on Monday sentenced three mor...,automobile

### 7. Make another dataframe for the Codeup blog posts. Name the dataframe `codeup_df`.

In [11]:
codeup_df = acquire.get_blog_articles_data()
codeup_df

,title,content
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...

### 8. For each dataframe, produce the following columns:

* `title` to hold the title
* `original` to hold the original article/post content
* `clean` to hold the normalized and tokenized original with the stopwords removed.
* `stemmed` to hold the stemmed version of the cleaned data.
* `lemmatized` to hold the lemmatized version of the cleaned data.

In [12]:
# what we want:
#  -clean: normalized/tokenized, with stopwords removed
#         apply: basic_clean, tokenize, remove_stopwords
#  -stemmed: stemmed version of cleaned data
            # apply: stem function onto cleaned data
#  -lemmatized: lemmatized version of cleaned data
            # apply: lemmatize function onto cleaned datas

In [13]:
# df['some_col'] = df['old_col'].apply(some_function)

In [14]:
news_df.rename(columns={'content': 'original'}, inplace=True)
codeup_df.rename(columns={'content': 'original'}, inplace=True)

In [15]:
news_df

,title,original,category
0,"Moscow-Goa flight gets bomb threat, makes emer...",A Goa-bound flight from Russia's Moscow made a...,national
1,"I was overwhelmed, had tears in my eyes: Supri...","Actress Supriya Shukla, speaking about her dau...",national
2,Samantha Ruth Prabhu breaks down during traile...,Actor Samantha Ruth Prabhu broke down on Monda...,national
3,Australia's oldest living Test cricketer Norma...,Australia's oldest living Test cricketer Norma...,national
4,Snake repellents used at Assam stadium ahead o...,Organisers have used snake repellents at the B...,national
...,...,...,...
295,"Internal migration, youth apathy reasons for l...",An inability to vote due to internal migration...,automobile
296,Telangana govt employee found charred to death...,A Telangana state government employee was foun...,automobile
297,Pak Army chief meets Saudi Crown Prince amid e...,Pakistan Army chief Gen Asim Munir on Monday m...,automobile
298,Russian missile kills 2 women at market in Ukr...,A Russian missile hit a market in the village ...,automobile
299,Iran sentences 3 more to death in connection w...,An Iranian court on Monday sentenced three mor...,automobile

In [16]:
codeup_df

,title,original
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...

In [17]:
def prep_article_data(df, column, extra_words=[], exclude_words=[]):
    '''
    This function take in a df and the string name for a text column with 
    option to pass lists for extra_words and exclude_words and
    returns a df with the text article title, original text, stemmed text,
    lemmatized text, cleaned, tokenized, & lemmatized text with stopwords removed.
    '''
    df['clean'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(remove_stopwords,
                                  extra_words=extra_words,
                                  exclude_words=exclude_words)
    
    df['stemmed'] = df['clean'].apply(stem)
    
    df['lemmatized'] = df['clean'].apply(lemmatize)
    
    return df[['title', column,'clean', 'stemmed', 'lemmatized']]

In [18]:
prep_article_data(news_df, 'original', extra_words = ['ha'], exclude_words = ['no'])

,title,original,clean,stemmed,lemmatized
0,"Moscow-Goa flight gets bomb threat, makes emer...",A Goa-bound flight from Russia's Moscow made a...,goabound flight russia ' moscow made emergency...,goabound flight russia ' moscow made emerg lan...,goabound flight russia ' moscow made emergency...
1,"I was overwhelmed, had tears in my eyes: Supri...","Actress Supriya Shukla, speaking about her dau...",actress supriya shukla speaking daughter jhana...,actress supriya shukla speak daughter jhanak s...,actress supriya shukla speaking daughter jhana...
2,Samantha Ruth Prabhu breaks down during traile...,Actor Samantha Ruth Prabhu broke down on Monda...,actor samantha ruth prabhu broke monday traile...,actor samantha ruth prabhu broke monday traile...,actor samantha ruth prabhu broke monday traile...
3,Australia's oldest living Test cricketer Norma...,Australia's oldest living Test cricketer Norma...,australia ' oldest living test cricketer norma...,australia ' oldest live test cricket norma joh...,australia ' oldest living test cricketer norma...
4,Snake repellents used at Assam stadium ahead o...,Organisers have used snake repellents at the B...,organisers used snake repellents barsapara cri...,organis use snake repel barsapara cricket stad...,organiser used snake repellent barsapara crick...
...,...,...,...,...,...
295,"Internal migration, youth apathy reasons for l...",An inability to vote due to internal migration...,inability vote due internal migration along ur...,inabl vote due intern migrat along urban youth...,inability vote due internal migration along ur...
296,Telangana govt employee found charred to death...,A Telangana state government employee was foun...,telangana state government employee found char...,telangana state govern employe found char deat...,telangana state government employee found char...
297,Pak Army chief meets Saudi Crown Prince amid e...,Pakistan Army chief Gen Asim Munir on Monday m...,pakistan army chief gen asim munir monday met ...,pakistan armi chief gen asim munir monday met ...,pakistan army chief gen asim munir monday met ...
298,Russian missile kills 2 women at market in Ukr...,A Russian missile hit a market in the village ...,russian missile hit market village shevchenkov...,russian missil hit market villag shevchenkov u...,russian missile hit market village shevchenkov...
299,Iran sentences 3 more to death in connection w...,An Iranian court on Monday sentenced three mor...,iranian court monday sentenced three people de...,iranian court monday sentenc three peopl death...,iranian court monday sentenced three people de...

In [19]:
prep_article_data(codeup_df, 'original', extra_words = ['ha'], exclude_words = ['no']).head()

,title,original,clean,stemmed,lemmatized
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...,feeling unfulfilled work want avoid returning ...,feel unfulfil work want avoid return tradit ed...,feeling unfulfilled work want avoid returning ...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...,hiring manager trouble filling position around...,hire manag troubl fill posit around holiday co...,hiring manager trouble filling position around...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...,finding resources fund educational goals possi...,find resourc fund educ goal possibl largest ob...,finding resource fund educational goal possibl...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa...",breaking new career important explore job oppo...,break new career import explor job opportun ex...,breaking new career important explore job oppo...
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...,excited announce codeup ranked 1 best tradetec...,excit announc codeup rank 1 best tradetechn sc...,excited announce codeup ranked 1 best tradetec...

### 9. Ask yourself:

* If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
* If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?